.scroll-pane {
    -fx-background-color: transparent;
}

#pane{
     -fx-background-color: white;
}

.background {
    -fx-background-color: white;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #E1E6F6;
    -fx-background-radius: 5em;
}

.table-row {
    -fx-background-color:#F7F7F7;
    -fx-background-radius: 20px;
      -fx-border-color: white;
       -fx-cursor: hand;
      
}

.table-view .table-row:hover {
   -fx-cursor: hand;
}

.button {
	 -fx-cursor: hand;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: black;
    -fx-opacity: 1;
    
}

.table-view .table-cell {
    -fx-alignment: CENTER;
    

}



.text-field .text {
    -fx-background-color:#F7F7F7;
    -fx-background-radius: 20;
     -fx-alignment: center;
      -fx-border-color: white;
      -fx-alignment: CENTER;
      -fx-background-radius: 20;
      -fx-prompt-text-fill: #F7F7F7;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-view .table-row-cell:hover {
    -fx-background-color:#F9E1E1;
}

.table-view .table-row-cell:empty:hover  {
    -fx-background-color: transparent;
}


.progress-indicator {
    -fx-progress-color: red;
}

.table-row-cell{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-background-radius: 20;
     -fx-alignment: center;
      -fx-background: #F9F9F9;
}

.table-view *.increment-button,
.table-view *.decrement-button,
.table-view *.increment-arrow,
.table-view *.decrement-arrow
{
    -fx-padding: 0;
    -fx-shape: "";
      
}

.table-column {
  -fx-alignment: CENTER;
}

.table-row .label{
	-fx-alignment: CENTER;
}

.table-view{
	-fx-control-inner-background-alt: -fx-control-inner-background ;
	-fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
	-fx-background-radius: 20;
	 -fx-background-color:white;
	 -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);
	 -fx-alignment: CENTER;
}

.table-view .column-header-background{
    -fx-background-color: #393939;
    -fx-border-radius: 10 10 0 0;
  -fx-background-radius: 10 10 0 0;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
    -fx-alignment: CENTER;
}

.table-row-cell:filled:selected {
  -fx-background: #F7F7F7 ;
  -fx-background-color: #F7F7F7, #F7F7F7 ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
  -fx-background: #F7F7F7 ;
}
